{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/clor.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Invisalign Clear Braces</h1>
              <span class="subheading">Best Invisaligning in dublin</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Clear braces are best for those who have complicated treatments or who want to get straight teeth as quickly as possible. Invisalign is best for those who have minor to moderate issues and like the flexibility of the Invisalign system, even if it does add slightly to the length of treatment.</p>
          <p>Invisalign braces, while clear, are not the same thing as “Clear Braces,” and use a different method to straighten teeth. ... Both options are much less noticeable than traditional braces and offer a fantastic aesthetic alternative for patients seeking less visible options.</p>
          <p>And they say that people may qualify for up to $3,000 in help from their insurance company. According to the Consumer Guide for Dentistry, the national average for Invisalign is $3,000–$5,000. For comparison, traditional metal bracket braces usually cost $2,000–$6,000</p>
          <p>IOn average, Invisalign treatment time is 12 to 18 months, 2 though you can start seeing results in a matter of weeks.</p>
        </div>
      </div>
    </div>

   {% endblock %}
